.fourth {


    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
    
        li {
            flex: 0 1 320px;
            margin: .5rem;

            a {
                text-decoration: none;
            }

            figure {
                height: 150px;
                overflow: hidden;
                border: 2px solid #112233;

                img {
                    max-width: 100%;
                    transition: all 1s ease-in-out;
                    
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            p {
                text-align: center;
                font-size: 1rem;
                color: $text-color;
                margin-top: .5rem;
            }

        }
    }
}

