* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$first-color:#FF598F;
$second-color: #FD8A5E;
$third-color: #F2CF1D;
$fourth-color: #01DDDD;
$fifth-color: #0476D9;
$text-color: #ffffff;
body {
    font-family: sans-serif;
}

$color: #b83a64;

span {
    background-color: white !important;
}

h2 {
    text-align: center;
    color: $text-color;
    font-size: 2rem;
    padding-bottom: 1rem;
}

p  {
    text-align: center;
    color: $text-color;
    font-size: 1.2em;
}

.first {
    background-color: $first-color;
}

.second {
    background-color: $second-color;
}

.third {
    background-color: $third-color;
}

.fourth {
    background-color: $fourth-color;
}

.fifth {
    background-color: $fifth-color;
}

@import 'home';
@import 'about';
@import 'skills';
@import 'projects';
@import 'contact';
